@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Somos alunos da primeira turma da Toti em São Paulo formando como Full Stack em 2020, este projeto
    é fruto da nossa aprendizagem e esforço, enquanto recém-formados comprometidos com a globalização,
    pretendemos implementar muitas inovações no mercado de TI. Razão pelo qual estamos e estaremos sempre
    à disposição para atender as suas demandas tecnológicas, temos solução para a sua empresa, e o seu negócio pois
    acreditamos na mudança positiva prestamos todos serviços relacionado com a tecnologia..</p>

<p> olá boa noite </p>
<p> olá boa noite </p>
<h1>ola mundo</h1>

