@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Quebrada Itapevi City<br />
    Nº 5555<br />
    <abbr title="Phone"></abbr>
  11-987949330
</address>

<address>
    <strong>Supporte:</strong> <a href="cletche91@hotmail.com">cletche91@hotmail.com</a><br />
</address>